<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Movie list</title>
</head>
<body>
    <header>
        <h1>movie<span>list</span></h1>
        <h2>My list of movies to watch</h2>
    </header>
    
    <section class="form">
        <input type="text" id="addMovie" placeholder="Insert your movie here...">
    </section>

    <ul class="list"> 

    </ul>

    <script type="text/javascript" src="app.js"></script>
</body>
</html>